<div id="snatcherDiv2">
	<center>
		<p>ERROR</p>
	</center>
</div>

<!--If there is failure we are display it -->
<% if(typeof error != 'undefined') { %>
  <div class="errmsg">
    <p><%= error %></p>
  </div>
<% } %>
