
<div class="footer">

  <p>Access analyzer page <a target="_blank" href="/scraper" class="link">here.</a>
  <% if(typeof user == 'undefined') { %>
    For more advanced analyzer please log in or register <a target="_blank" href="/start" class="link">here.</a>
  <% } %>

  Here you can see some basic statistics from this site.



Need an account? <a target="_blank" href="/start" class="link" >Sign up</a>

<br /><br />&copy Najbolji tim na cilon svitu!</p>

</div>
