<head>
  <title>Web Analyzer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/partials/page-style.css" rel="stylesheet" type="text/css" />
  <link href="/css/partials/accountForms.css" rel="stylesheet" type="text/css" />
  <link href="/css/partials/inputForm.css" rel="stylesheet" type="text/css" />
  <link href="/css/partials/mediaQueries.css" rel="stylesheet" type="text/css" />
  <link href="/css/partials/messages.css" rel="stylesheet" type="text/css" />
  <link href="/css/partials/tableStyles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
