<nav class="nav-desktop" id="navigationBar">
<ul>
<li>
<a href="/"  title="Home" class="menu-item" ><i class="fa fa-home fa-2x" aria-hidden="true"></i> </a>
</li>
<li>
<a href="/start"  title="Account" class="menu-item"> <i class="fa fa-user fa-2x" aria-hidden="true"></i> </a>
</li>
<li>
<a href="/scraper"  title="Scraper" class="menu-item"> <i class="fa fa-wpexplorer fa-2x" aria-hidden="true"></i> </a>
</li>
<li>
<a href="/lastanalyzes"  title="History" class="menu-item"> <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></a>
</li>
<li>
<a href="/gagscraper"  title="9Gagcraper" class="menu-item"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i> </a>
</li>
<li>
<a href="/about"  title="About" class="menu-item"><i class="fa fa-question fa-2x" aria-hidden="true"></i> </a>
</li>
</ul>

</nav>
