<div id="navigationDiv" style="position: fixed; left: 50px">
<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button" for="menu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>

	<a href="/" class="menu-item"><i class="fa fa-home fa-2x" aria-hidden="true"></i> </a>
  <a href="/start" class="menu-item"> <i class="fa fa-user	 fa-2x" aria-hidden="true"></i> </a>
  <a href="/scraper" class="menu-item"> <i class="fa fa-wpexplorer fa-2x" aria-hidden="true"></i> </a>
  <a href="/lastanalyzes" class="menu-item"> <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></a>


</nav>
</div>
