<div class="content-wrapper">


<!-- Title -->
<div id="titleDiv">
		Tools for fun
</div>
<div id="snatcherDiv">
        <p>9GAG HOTTEST</p>
</div>


<div id="pageTextContent">

<p>9gag hottest is a tool which displays the most popular post.</p>

</div>
<div>
<center>
<p style="font-size:20px;margin-top:3px;">
<%=title%>
</p>
<p style="font-size:20px;">
<%=points%>
</p>
<div>
<img src="<%=imglink%>" id="gag">
<br>
<br>
</div>


</center>
</div>

</div>
<hr>
